.banner {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.539);
    overflow: hidden;
}
.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10vh;
    background: url("../asset/background-tentang-kami.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.banner h1 {
    width: 100%;
    text-align: center;
    color: var(--secondary);
}

.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.vision,
.mission {
    padding: 5px 5vw;
    width: 50%;
    text-align: justify;
}

.vision .title,
.mission .title {
    margin: 10px 0 20px 0;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: var(--secondary);
}
.paragraph {
    font-size: 16px;
}

.company-structure {
    padding: 0 0 5vh 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.company-structure .title {
    margin: 10px 0 20px 0;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: var(--secondary);
}
.company-structure .structure {
    width: 50%;
    aspect-ratio: 1/1;
    border: 2px solid var(--secondary);
}

@media only screen and (orientation: portrait)  {
    .vision,
    .mission {
        margin: 10px auto;
        width: 88%;
    }
}